<mat-card class="cardWithShadow">
  <mat-expansion-panel [expanded]="open_expansion_value === 1" (opened)="OPEN_PANEL()" (closed)="CLOSE_PANEL()">
    <mat-expansion-panel-header>
      <mat-panel-title class="f-w-600 mat-body-1 currentAction">{{CurrentAction}}</mat-panel-title>
    </mat-expansion-panel-header>
  <mat-card-content>
      <!-- FIRST ROW :  PRODUCT NAME + BARCODE + DESCRIPTION -->
      <div class="row">
        <!-- PRODUCT NAME -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Product Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Product Name" [(ngModel)]="ADDED_PRODUCT.itemName" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- BARCODE-->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Barcode</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <div class="d-flex position-relative">
              <mat-icon matPrefix class="op-5 barcode_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M40-200v-560h80v560H40Zm120 0v-560h80v560h-80Zm120 0v-560h40v560h-40Zm120 0v-560h80v560h-80Zm120 0v-560h120v560H520Zm160 0v-560h40v560h-40Zm120 0v-560h120v560H800Z" />
                </svg>
              </mat-icon>
              <input matInput placeholder="Barcode" [(ngModel)]="ADDED_PRODUCT.barcode" readonly="" />
              <div class="d-flex align-items-center">
                <mat-icon matPrefix class="generate_code_button" (click)="GENERATE_BARCODE()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#045b33">
                    <path
                      d="M204-318q-22-38-33-78t-11-82q0-134 93-228t227-94h7l-64-64 56-56 160 160-160 160-56-56 64-64h-7q-100 0-170 70.5T240-478q0 26 6 51t18 49l-60 60ZM481-40 321-200l160-160 56 56-64 64h7q100 0 170-70.5T720-482q0-26-6-51t-18-49l60-60q22 38 33 78t11 82q0 134-93 228t-227 94h-7l64 64-56 56Z" />
                  </svg>
                </mat-icon>
              </div>
            </div>
          </mat-form-field>
        </div>

        <!-- DESCRIPTION-->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Description</mat-label>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Description" [(ngModel)]="ADDED_PRODUCT.description" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- SECOND ROW :  CATEGORY + COST + SALE -->
      <div class="row">
        <!-- CATEGORY -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Category</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Search Categories..." aria-label="Category" [matAutocomplete]="auto"
              [(ngModel)]="ADDED_PRODUCT.category">
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
                width="24px" fill="#5f6368">
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
              </svg>
            </mat-icon>

            <mat-autocomplete #auto="matAutocomplete">
              @for(category of categoryArray; track category){
              <mat-option [value]="category.CategoryName">{{ category.CategoryName }}</mat-option>
              }

              <mat-option (click)="OPEN_DIALOG('Add Category', ADDED_PRODUCT)">
                <div class="option-content d-flex flex-row gap-10">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5c8305">
                    <path
                      d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z" />
                  </svg>
                  <span>Add new product</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- COST -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Cost</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Cost" [(ngModel)]="ADDED_PRODUCT.cost" type="number" min="0"/>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 42-101t86-41v-84h80v84q50 8 82.5 36.5T651-650l-74 32q-12-32-34-48t-60-16q-44 0-67 19.5T393-614q0 33 30 52t104 40q69 20 104.5 63.5T667-358q0 71-42 108t-104 46v84h-80Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- SALE -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Sale</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Sale" [(ngModel)]="ADDED_PRODUCT.sale" type="number" min="0"/>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M760-400v-260L560-800 360-660v60h-80v-100l280-200 280 200v300h-80ZM560-800Zm20 160h40v-40h-40v40Zm-80 0h40v-40h-40v40Zm80 80h40v-40h-40v40Zm-80 0h40v-40h-40v40ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="Buttons_div">
        <div *ngIf="ShowAddButoon">
          <button mat-flat-button color="primary" (click)="ADD_PRODUCT()"> Add Product </button>
        </div>

        <div class="TwoButtons" *ngIf="!ShowAddButoon">
          <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>

          <button mat-flat-button color="primary" (click)="UPDATE_PRODUCT()"
            [disabled]="SHOW_LOADING_SPINNER || !DATA_CHANGED">
            <span *ngIf="!SHOW_LOADING_SPINNER">Update Product</span>
            <mat-spinner diameter="20" *ngIf="SHOW_LOADING_SPINNER"></mat-spinner>
          </button>

        </div>
      </div>
  </mat-card-content>
  </mat-expansion-panel>
</mat-card>

<!-- WHOLE TABLE -->
<mat-card class="cardWithShadow">
  <!-- TABLE HEADER -->
  <header>

    <div class="searchbar p-20">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Search Product..." aria-label="Product"
          (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)">
        <mat-icon matPrefix class="op-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
            width="24px" fill="#5f6368">
            <path
              d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
          </svg>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="filter-date p-20">

      <section>
        @if(showDatePicker) {
        <mat-form-field appearance="outline" class="date_picker">

          <mat-date-range-input [rangePicker]="custompicker">
            <input matStartDate placeholder="Start date" [(ngModel)]="START_DATE"
              (ngModelChange)="handleStartDateChange($event)" />
            <input matEndDate placeholder="End date" [(ngModel)]="END_DATE"
              (ngModelChange)="handleEndDateChange($event)" />
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="custompicker"></mat-datepicker-toggle>
          <mat-date-range-picker #custompicker></mat-date-range-picker>

        </mat-form-field>
        }

        <!-- DATE -->
        <div class="dropdown">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select p placeholder="Today" [(ngModel)]="selectedMonth"
              (selectionChange)="DROPDOWN_FILTERATION($event.value, 'month')">
              @for(month of months; track month) {
              <mat-option value={{month.value}}>{{month.viewValue}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
      </section>

      <!-- STATUS -->
      <div class="dropdown">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select p placeholder="All" [(ngModel)]="selectedStatusFilteraTION"
            (selectionChange)="DROPDOWN_FILTERATION($event.value, 'status')">
            @for(element of Status_Array_Filter; track element) {
            <mat-option value={{element.value}}>{{element.viewValue}}</mat-option>
            }

          </mat-select>
          <mat-icon matPrefix class="op-5">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
              <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17
                          0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83
                          31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5
                          156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93
                          227q0 134 93 227t227 93Zm0-320Z" />
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>


      <!-- Download As -->
      <div class="dropdown">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select placeholder={{selectedDownloadOption}} [ngModel]="selectedDownloadOption"
            (selectionChange)="DROPDOWN_FILTERATION($event.value, 'Download')">
            @for(option of Options; track option) {
            <mat-option value={{option.value}}>{{option.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-icon matPrefix class="op-5">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
              <path
                d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>


    </div>

  </header>

  <mat-card-content>

    @if(show_shimmer){
    <app-table-shimmer [headers]="displayedColumns"></app-table-shimmer>
    }

    @else{
    <!-- TABLE BODY -->
    <div class="table-responsive">
      <table mat-table [dataSource]="productsArray" multiTemplateDataRows>

        <!-- Iterate over displayedColumns using ngFor -->
        @for( column of displayedColumns; track column) {
        <ng-container>

          <ng-container matColumnDef="{{ column }}">
            <!-- if column is sale or cost -> add the sort icon -->
            @if( column == 'sale'){
            <th mat-header-cell *matHeaderCellDef class="icon_th f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
              (click)="SORT('sale')">
              {{ column | titlecase }}
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                fill="#000000">
                <path
                  d="M324-432v-294L219-621l-51-51 192-192 192 192-51 51-105-105v294h-72ZM600-96 408-288l51-51 105 105v-294h72v294l105-105 51 51L600-96Z" />
              </svg>
            </th>
            }
            @else if(column == 'cost'){
            <th mat-header-cell *matHeaderCellDef class="icon_th f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
              (click)="SORT('cost')">
              {{ column | titlecase }}
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                fill="#000000">
                <path
                  d="M324-432v-294L219-621l-51-51 192-192 192 192-51 51-105-105v294h-72ZM600-96 408-288l51-51 105 105v-294h72v294l105-105 51 51L600-96Z" />
              </svg>
            </th>
            }
            @else{
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">
              {{ TableHeaders[displayedColumns.indexOf(column)] | titlecase }}</th>
            }

            <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0"
              (click)="EXPAND_ROW($event, element, column)">

              <!-- Check if the column is 'status' -->
              <ng-container *ngIf="column !== 'action'; else actionColumn">
                <ng-container *ngIf="column !== 'barcode'; else barcodeColumn">
                  <ng-container *ngIf="column !== 'description'; else descriptionColumn">
                    <ng-container *ngIf="column !== 'cost'; else costColumn">
                      {{ element[column] }}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>

              <!-- Apply specific design if the column is 'status' -->
              <ng-template #barcodeColumn>{{ element[column] }}</ng-template>
              <ng-template #costColumn>$ {{ element[column] }}</ng-template>
              <ng-template #descriptionColumn>{{ TRUNCATE_TEXT(element[column], 20) }}</ng-template>

              <!-- SHOW ACTION TEMPLATE -->
              <ng-template #actionColumn>
                <div class="action-link">
                  <a (click)="SELECTED_PRODUCT(element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                      class="icon-18"></i-tabler></a>
                  <a (click)="OPEN_DIALOG('Delete', element)" class="m-r-10 cursor-pointer"><i-tabler name="trash"
                      class="icon-18"></i-tabler></a>
                </div>
              </ng-template>

            </td>

          </ng-container>

        </ng-container>
        }
        <!-- EXPANDED ROW DETAILS -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div class="details-container p-3 rounded border mb-3 mx-2">

                <div class="detail-body mt-3">
                  <div class="col-md-4">
                    <div class="detail-field"><strong>category:</strong> {{ element.category }}</div>
                    <div class="detail-field"><strong>itemName:</strong> {{ element.itemName }}</div>
                    <div class="detail-field"><strong>description:</strong> {{ element.description }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="detail-field"><strong>cost:</strong> {{ element.cost }}</div>
                    <div class="detail-field"><strong>sale:</strong> {{ element.sale }}</div>
                  </div>

                  <div class="col-md-4">
                    <div class="detail-field QR">
                      <strong>barcode: {{ element.barcode }}</strong>
                      <svg xmlns="http://www.w3.org/2000/svg" height="60px" width="60px" viewBox="0 -960 960 960"
                        fill="#000000">
                        <path
                          d="M48-192v-576h72v576H48Zm120 0v-576h72v576h-72Zm120 0v-576h48v576h-48Zm120 0v-576h72v576h-72Zm120 0v-576h96v576h-96Zm144 0v-576h48v576h-48Zm144 0v-576h96v576h-96Z" />
                      </svg>
                    </div>
                  </div>
                </div>

            <div class="invoice-btn-div">
              <button class="invoice-btn">Print invoice</button>
            </div>
            
              </div>
            </div>
          </td>
        </ng-container>

        <!-- HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element;">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      </table>
    </div>
    }

    <!-- TABLE PAGINATION -->
    <!-- LENGTH : 1-10 of length -->
    <!-- pageSize : Items Per Page -->
    <mat-paginator
    [pageSizeOptions]="[10, 20, 30]" 
    [length]="totalCount" 
    [pageSize]="pageSize"
    aria-label="Select page"
    showFirstLastButtons 
    (page)="onPageChange($event)">
   </mat-paginator>

  </mat-card-content>

</mat-card>