<mat-card-content class="p-y-24 b-t-1">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <!-- Invoice No. -->
      <div class="col-md-12 d-flex flex-column">
        <div class="d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Invoice No.</mat-label>
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="11446688" />
          <mat-icon matPrefix class="op-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
              width="24px" fill="#5f6368">
              <path
                d="M160-640h640v-80H160v80Zm-80-80q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v240H160v240h164v80H160q-33 0-56.5-23.5T80-240v-480ZM598-80 428-250l56-56 114 112 226-226 56 58L598-80ZM160-720v480-180 113-413Z" />
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="text-right p-24 p-t-0">
    <button mat-stroked-button class="m-r-8 " style="border: 1px solid #045b33; color:#045b33">Cancel</button>
    <button mat-flat-button color="primary" class="m-r-8">Save</button>
  </div>

</mat-card-content>